@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Raleway", sans-serif;
}

body {
	margin: 0;
	color: rgb(46, 45, 45);
	background-color: rgb(58, 58, 58);
	overflow-x: hidden;
}

ul {
	list-style: none;
}

.header {
	background-color: rgb(120, 187, 134);
	color: white;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__title {
	font-family: "Raleway", sans-serif;
}

.hero-image {
	position: absolute;
	z-index: -1;
	width: 110%;
	object-fit: cover;
	height: 25rem;
	z-index: -1;
	overflow: hidden;
	transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
	opacity: 0.5;
}

.modal-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.modal-overlay__content {
	min-width: 600px;
}

.cart__items {
	font-size: 1.1rem;
}

.cart__items > li {
	margin: 0 0 1rem 0;
}

.cart__total {
	display: flex;
	justify-content: space-between;
	font-size: 1.1rem;
	font-weight: 700;
}

.cart__actions {
	display: flex;
	justify-content: flex-end;
}

.cart__actions > button {
	border: 2px solid rgb(120,187,134);
	padding: 1rem;
	border-radius: 30px;
	min-width: 120px;
	margin: 1rem 0 0 1rem;
	font-weight: 800;
	font-size: 1rem;
	cursor: pointer;
}

.cart__order-button {
	background-color: rgb(120, 187, 134);
	color: white;
}

.cart__close-button {
	background-color: transparent;
	color: rgb(120, 187, 134);
}

.cart-button {
	background-color: rgb(0, 0, 0);
	outline: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	width: 200px;
	border-radius: 30px;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.cart-button__text {
	display: inline-block;
	margin: 0 0.5rem;
}

.cart-button__item-count {
	display: flex;
	margin: 0 0.5rem;
	background-color: white;
	color: black;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	font-weight: 800;
}

.cart-button__icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-button__icon > svg {
	width: 25px;
	height: 25px;
	margin: 0 0.5rem;
}

.summary {
	background-color: rgb(31, 31, 31);
	color: rgb(241, 241, 241);
	width: 60%;
	margin: 10rem auto 0 auto;
	padding: 2rem;
	font-size: 1.25rem;
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.637);
}

.summary p {
	margin: 1rem 0;
}

.summary h2 {
	text-align: center;
	font-size: 2.5rem;
	margin: 0 0 2rem 0;
}

.meal-list {
	width: 50%;
	margin: 3rem auto;
}

.card {
	background-color: rgb(245, 245, 245);
	border-radius: 25px;
	padding: 2rem;
}

.meal-item {
	display: flex;
	justify-content: space-between;
	padding: 0 0 2rem 0;
	margin: 0 0 2rem 0;
	border-bottom: 1px solid rgb(214, 214, 214);
}

.meal-item:last-child {
	border-bottom: 0;
	padding: 0;
	margin: 0;
}

.meal-item__name {
	font-size: 1.75rem;
}

.meal-item__description {
	margin: 0.5rem 0;
}

.meal-item__price {
	font-size: 1.2rem;
	font-weight: 700;
}

.meal-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.meal-form button {
	background-color: rgb(0, 0, 0);
	outline: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border-radius: 30px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 1.5rem;
	width: 50px;
}

.meal-form > .input {
	margin: 0 1rem;
}

.meal-form > .input > label {
	margin: 0 1rem;
	font-weight: 600;
}

.meal-form > .input > input {
	padding: 0.75rem;
	border: 1px solid rgb(223, 223, 223);
	text-align: center;
	outline: none;
	font-size: 1.1rem;
}
